*:focus {
    outline: none;
}

// Global Theme Styles
html{
	body {
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		font-weight: normal;
		background-color: #000;
		&.block-scroll {
		    overflow: hidden;
		}
		@media only screen and (max-width: 1325px) {
			font-size: 14px;
		}
		@media only screen and (max-width: 1183px) {
			font-size: 12px;
		}
		@media only screen and (max-width: 400px) {
			font-size: 12px;
		}
	}
}