@media only screen and (max-width: $XS)
{
	.duvidas {
		.box {
		    padding: 50px 15px;
		    .box-item {
		    	.titulo {
	    		    padding: 10px 45px;
	    		    font-size: 1.5em;
			        &:before {
				    	left: 11px;
					}
		    	}
		    	.descricao {
		    	    padding: 0 15px;
		    	    &.active {
						max-height: 1500px;
					}
			    }
		    }
		}
	}
	@media (orientation: landscape)
	{

	}
	@media (orientation: portrait)
	{

	}
}