@media only screen and (max-width: $MD)
{
	.produtos {
		height: auto;
		.p-R-h-100 {
			height: auto;
		}
		.box-name-produto {
			height: auto;
			text-align: center;
			.box-conteudo {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				position: relative;
				padding: 50px 0;
				.descricao {
					width: 80%;
				}
			}
			.box-conteudo-redes {
				padding-left: 0;
				padding: 50px 0;
				width: 70%;
				text-align: left;
			}
		}
		.box-protudo {
			height: auto;
			.btn-produto-redes,
			.btn-produto-cordas {
				padding: 75px 15px;
				.circulo-img {
					max-width: 130px;
					max-height: 130px;
				}
				.box {
					width: 220px;
					.btn-custom {
						margin: 0;
						opacity: 1;
					}
				}
			}
			.box-show-detalhes {
		        .box-redes,
		        .box-cordas {
		        	.box-img {
					    margin-bottom: 15px;
					    height: 150px;
						img {
						    height: 150px;
						}
		        	}
		        }
		        .paleta,
		        .paleta-mobile  {
					width: 100%;
		        	.box-paleta {
						padding: 15px 0px;
		        	}
		        }
			}
		}
	}
	@media (orientation: landscape)
	{
		
	}
	@media (orientation: portrait)
	{

	}
}