@media only screen and (max-width: $MD)
{
	.inicial {
		display: flex;
		align-items: baseline;
		justify-content: center;
		.box-img {
			position: relative;
			width: 100%;
		    background-color: #000;
			img {
				object-fit: cover;
				width: 100%;
			    opacity: .6;
			    margin-top: -370px;
			}
		}
		.block-mobile {
			position: absolute;
	        padding-top: 150px;
	        padding-left: 50px;
			padding-right: 50px;
		}
		h2 {
			text-align: center !important;
		}
		p {
			text-align: center !important;
		}
	}
	@media (orientation: landscape)
	{

	}
	@media (orientation: portrait)
	{

	}
}