.inicial {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	position: relative;
	.box-img {
		position: absolute;
		height: 100%;
		width: 100%;
		img {
			object-fit: cover;
			height: 100%;
			position: relative;
		    width: 100%;
		}
	}
}

@media (orientation: landscape)
{
	.inicial {
		@media only screen and (max-height: $MD) {
			min-height: 991px;
		    position: relative;
		}
	}
}
@media (orientation: portrait)
{

}