.dicas {
	height: calc(100vh - 50px);
	position: relative;
	display: flex;
	align-items: center;
	background-color: #FFFFFF;
	@media only screen and (max-height: 800px) {
		height: 800px;
	}
	.img-dicas {
		margin-bottom: 75px;
	}
	h2 {
		font-weight: 800;
		text-transform: uppercase;
		color: #0E447D;
	    text-align: center;
	}
	p {
		span {
		    font-size: 1.5em;
		}
	}
	.box-img-dicas {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.box-descricao-dicas {
		.item {
			margin-bottom: 75px;
		    padding-left: 125px;
	        position: relative;
			display: flex;
			align-items: center;
			&:last-child {
				margin-bottom: 0;
			}
	        .number {
				position: absolute;
				font-size: 3.75em;
				font-weight: 800;
			    left: 60px;
			    color: #E6E6E6;
			}
			p {
				span {
					font-size: 1.125em;
				}
			}
		}
	}
}