@media only screen and (max-width: $MD)
{
	.caracteristicas {
		height: auto;
		.box-caracteristicas {
			padding: 50px 30px;
			.box-caracteristicas-produto {
				p {
					text-align: center;
				}
			}
		}
		.box {
			.box-caracteristicas-produto {
	    		margin-bottom: 15px !important;
	    	}
			.box-caracteristicas-produto {
				p {
				}
			}
		}
	}
	@media (orientation: landscape)
	{
		
	}
	@media (orientation: portrait)
	{

	}
}