@media only screen and (max-width: $MD)
{
	.video {
		height: auto;
		padding: 50px 0;
		video {
			height: auto;
		}
		.media-controls {
			width: 75px;
			height: 75px;
			#play-pause-button {
				background-size: contain;
			}
		}
	}
	@media (orientation: landscape)
	{
		
	}
	@media (orientation: portrait)
	{

	}
}