*:focus {
    outline: none;
}

html{
	body {
		font-size: 16px;
		font-weight: normal;
		@media only screen and (max-width: 1325px) {
			font-size: 14px;
		}
		@media only screen and (max-width: 1183px) {
			font-size: 12px;
		}
		@media only screen and (max-width: 400px) {
			font-size: 12px;
		}
	}
}