@media only screen and (max-width: $MD)
{
	.onde-encontrar {
		.input-autocomplite {
			width: 100%;
		}
		.box-list { 
			&.active {
				padding: 0;
			}
		}
		.box-pais {
			margin: -15px;
		}
	}
	@media (orientation: landscape)
	{
		
	}
	@media (orientation: portrait)
	{

	}
}