// All styles for page template

//Page EX
	
	//Secção EX
	// @import "pages/home/inicial/XL";
	// @import "pages/home/inicial/LG";
	// @import "pages/home/inicial/MD";
	// @import "pages/home/inicial/SM";
	// @import "pages/home/inicial/XS";