
// Button Styles

.button-custon-1 {
	background: #0f5196; /* Old browsers */
	background: -moz-linear-gradient(top, #0f5196 0%, #12365d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #0f5196 0%,#12365d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #0f5196 0%,#12365d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f5196', endColorstr='#12365d',GradientType=0 ); /* IE6-9 */
	color: #FFF;
    font-size: 1.25em;
    font-weight: 800;
	width: 320px;
	height: 79px;
	border-radius: 15px;
    text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
    margin-left: auto;
    @media only screen and (max-width: 991px) {
		margin: auto;
		width: 165px;
		height: 46px;
		font-size: 1em;
	    border-radius: 7px;
    }
	&:hover {
	    box-shadow: 0px 3px 20px rgba(0, 0, 0, .5);
	}
	&:active {
		background: #12365d; /* Old browsers */
		background: -moz-linear-gradient(top, #12365d 0%, #0f5196 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, #12365d 0%,#0f5196 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, #12365d 0%,#0f5196 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#12365d', endColorstr='#0f5196',GradientType=0 ); /* IE6-9 */
	}
	.back {
		background-repeat: no-repeat;
		padding-left: 40px;
	}
}

.button-custon-2 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#41acf0+0,0b77bc+55,0263a0+100 */
	background: rgb(65,172,240); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(65,172,240,1) 0%, rgba(11,119,188,1) 55%, rgba(2,99,160,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(65,172,240,1) 0%,rgba(11,119,188,1) 55%,rgba(2,99,160,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(65,172,240,1) 0%,rgba(11,119,188,1) 55%,rgba(2,99,160,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41acf0', endColorstr='#0263a0',GradientType=0 ); /* IE6-9 */
	font-size: 1.125em;
	font-weight: 800;
	width: 200px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	text-transform: uppercase;
	border-radius: 7px;
    cursor: pointer;
	@media only screen and (max-width: 1199px) {
		width: 125px;
		height: 35px;
    }
	&:hover {
	    box-shadow: 0px 3px 20px rgba(0, 0, 0, .5);
	}
	&:active {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0263a0+0,0b77bc+45,41acf0+100 */
		background: rgb(2,99,160); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(2,99,160,1) 0%, rgba(11,119,188,1) 45%, rgba(65,172,240,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(2,99,160,1) 0%,rgba(11,119,188,1) 45%,rgba(65,172,240,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(2,99,160,1) 0%,rgba(11,119,188,1) 45%,rgba(65,172,240,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0263a0', endColorstr='#41acf0',GradientType=0 ); /* IE6-9 */
	}
	&.seta-right {
		width: 320px;
		height: 79px;
		border-radius: 15px;
	    position: relative;
	    margin-top: 30px;
	    margin-bottom: 30px;
		&:after {
			content: " ";
			display: block;
			background-color: #ffffff;
			position: absolute;
			height: 25px;
			width: 25px;
			background-repeat: no-repeat;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: center;
			background-size: 15px;
			right: 30px;
			top: calc(50% - 12.5px);
			-webkit-mask-image: url(/wp-content/themes/equiplex/imgs/Seta_Botao.svg);
			mask-image: url(/wp-content/themes/equiplex/imgs/Seta_Botao.svg);
			background-position: center;
			transition: all 350ms ease-out;
			@media only screen and (max-width: 575px) {
				height: 15px;
				width: 15px;
				right: 25px;
				top: calc(50% - 7.5px);
			}
		}
		@media only screen and (max-width: 575px) {
		    width: 100%;
			height: 50px;
			margin: 30px auto;
		}
		a {
			color: #FFF;
			padding-right: 35px;
		    text-decoration: none;
		    @media only screen and (max-width: 575px) {
	      		padding-right: 30px;
      		    font-size: .8em;
			}
		}
	}
}