// Button Styles
.button-1 {
	border-radius: 47px;
    padding: 18px 25px;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    margin: 50px 15px;
    transition: all 350ms ease-out;
    @media only screen and (max-width: $XS){
        margin: 15px 15px;
    }
}

.min-height-menu {
    min-width: 237px;
}

.btn-verde {
    background-color: #69B830;
    &:hover {
    	background-color: #5EA52B;
    }
    &:active {
    	background-color: #1E5F43;
    }
}

.btn-verde-2 {
    background-color: #1E5F43;
    &:hover {
        background-color: #5EA52B;
    }
    &:active {
        background-color: #69B830;
    }
}

.btn-azul {
    background-color: #3AADEA;
    &:hover {
    	background-color: #38A3DB;
    }
    &:active {
    	background-color: #165B80;
    }
}

.btn-amarelo {
    background-color: #F2AE05;
    &:hover {
        background-color: #E2A204;
    }
    &:active {
        background-color: #CC8B09;
    }
}

.btn-branco {
    border: 3px solid #FFF;
    &:hover {
        background-color: #FFF;
        color: #1e5f43;
    }
    &:active {
        background-color: transparent;
    }
}

