@media only screen and (max-width: $MD)
{
	.lider-mundial {
	    padding: 100px 0;
        text-align: center;
		.titulo {
	        text-align: center;
		}
	    .descricao {
	    	width: 100%;
	    	text-align: center;
		}
	}

	@media (orientation: landscape)
	{
		
	}
	@media (orientation: portrait)
	{

	}
}