@media only screen and (max-width: $SM)
{
	.aplicacoes {
		.box-aplicacoes {
			.padding-mobile {
				padding: 0;
				.box {
					&.mobile {
					    .box-categorias {
					    	width: 100%;
					    	.btn-categoria {
					    		&:after {
								}
								span {
								}
					    	}
					    }
					}
				}
				.box-carousel-aplicacao {
	    			&.active {
	    				height: 280px;
	    			}
					.box-carousel {
						height: 200px;
						.carousel-aplicacoes {
							.item {
								height: 200px;
							}
						}
						.box-thumb {
							.carousel-aplicacoes-thumb {
							    .item {
							    }
								.owl-nav {
									.owl-next {
									}
									.owl-prev {
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@media (orientation: landscape)
	{

	}
	@media (orientation: portrait)
	{

	}
}