@media only screen and (max-width: $MD)
{
	header {
		height: auto;
		&.minify {
			.menu-mobile {
				.bar-top,
				.bar-mid,
				.bar-bottom {
					background-color: #0c76bc !important;
				}
				span {
					color: #0c76bc;
				}
			}
		}
		.menu-mobile {
			transition: height 350ms ease-out;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: 100%;
			.icon {
				position: relative;
				width: 15px;
				margin-right: 10px;
				cursor: pointer;
				&.open {
					.bar-top {
						transform: rotateZ(45deg);
						margin: 0;
						position: absolute;
						top: 0;
					}
					.bar-mid {
						opacity: 0;
					}
					.bar-bottom {
						transform: rotateZ(-45deg);
						margin: 0;
						position: absolute;
						top: 0;
					}
				}
				.bar-top,
				.bar-mid,
				.bar-bottom {
					width: 100%;
					height: 3px;
					margin-bottom: 3px;
					background-color: #FFF;
					transition: all 350ms ease-out;
				}

				.bar-bottom {
					margin: 0;
				}
			}
			span {
				font-weight: 900;
				color: #FFF;
				margin-top: 1px;
				cursor: pointer;
				transition: all 350ms ease-out;
			}
		}
	}
	.box-menu {
		height: 100vh;
		width: 100%;
		background-color: #0c76bc;
		position: fixed;
		z-index: 5;
		top: 0;
	    transform: translateX(100%);
	    transition: 350ms ease-out;
	    &.open {
	    	transform: translateX(0);
	    }
	    .menu-principal-pt-container,
		.menu-principal-en-container,
		.menu-principal-es-container {
	    	height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
	    	@media only screen and (max-height: 500px){
				overflow-y: scroll;
			    padding-top: 50px;
			}
			#menu-principal-1 {
				@media  only screen and  (max-height: 500px){
					height: 500px;
					top: 0;
					position: relative;
				}
			}
	    	ul {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0;
				margin: 0;
				flex-direction: column;
			    height: 100%;
				li {
					display: block;
					padding: .5em 1em;
					text-align: center;
					a {
				   		color: #FFF;
				   		font-size: 2em;
					}
					.sub-menu {
					    flex-direction: row;
					}
				}
	    	}
	    }
	}
	@media (orientation: landscape)
	{
		
	}
	@media (orientation: portrait)
	{

	}
}