@media only screen and (max-width: $XS)
{
	header {
    	padding-top: 65px;
    	&.active-scroll {
		    .logo {
				width: 115px;
				padding: 15px;
		    }
		}
	}
	@media (orientation: landscape)
	{

	}
	@media (orientation: portrait)
	{

	}
}