@media only screen and (max-width: $MD)
{
	footer {
		.box {
			padding: 100px 15px;
			.box-btn {
			    margin: 25px 0;
				.box-btn-voltar {
					.btn-voltar-top {
						font-size: 1em;
					}
				}
			}

			.line {
			
			}
		}

		.box-copy {
			p {
			    margin: 0;
				a {
				    font-size: 1em;
				}
			}
		}
	}
	@media (orientation: landscape)
	{
		
	}
	@media (orientation: portrait)
	{

	}
}