header {
	.bar-top {
		background-color: #1273d4;
		height: 50px;
		div {
			display: flex;
			align-items: center;
			justify-content: center;
			color: #FFF;
			&:first-child {
				&:after {
					content: " ";
					position: absolute;
					right: 0;
					height: 100%;
					width: 0.5px;
					background-color: #FFF;
				}
			}
			&.last-child {
				&:before {
					content: " ";
					position: absolute;
					left: 0;
					height: 100%;
					width: 0.5px;
					background-color: #FFF;
				}
			}
			a {
				color: #FFF;
			}
		}
	}
	.box-nav {
		.logo {
		    padding: 5px;
		}
		div {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 85px;
		}
		.menu-principal-container {
	   		width: 100%;
	   		ul {
   			    padding: 0;
				display: flex;
				align-items: center;
				justify-content: center;
			    margin: 0;
			    height: 100%;
			    width: 100%;
			    position: relative;
			    li {
			    	width: 14.285714285714286%;
			    	font-size: 1em;
	    	        font-weight: bold;
	    	        height: 100%;
	    	        display: block;
	    	        transition: all 350ms ease-out;
	    	        &:hover {
	    	        	background-color: #e7eefc;
	    	        }
	    	        a {
	    	        	color: #1e2327;
	    	        	text-decoration: none;
	    	        	width: 100%;
	    	        	height: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;
						padding: 0 5px;
	    	        }
			    }
	   		}
		}
	}
	.btn-agende {
		position: relative;
		a {
			background-color: #1273d4;
			padding: 10px 15px;
			color: #FFF;
		    border-radius: 5px;
		    text-align: center;
		}
	}
}