
// Defining Global Fonts

// Setting color to Customizing SASS
@import "colors";
@import "header";
@import "footer";

// Sizes
$screenXS: '320px';
$screenSM: '768px';
$screenMD: '992px';
$screenLG: '1200px';

.color-whatsapp {
	color: #01e675;
}