@media only screen and (max-width: $XS)
{
	h3 {
		font-size: 1em;
	}
	h2 {
		font-size: 3.75em;
	}
	p {
		font-size: 0.75em;
	}
	@media (orientation: landscape)
	{

	}
	@media (orientation: portrait)
	{

	}
}